.instructions-hidden{
  visibility: hidden;
  opacity: 0;
  display: none
}

.instructionsToggle{
  position: absolute !important;
  top: 102px;
  left: 251px;
  z-index: 10;
}

body{
  margin: 0;
}

#vehicle-selector{
  z-index: 10;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

select{
  padding: 10px;
  background-color: white;
  width: 300px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

