.instructions-hidden{
  visibility: hidden;
  opacity: 0;
  display: none;
}

.instructionsToggle{
  position: absolute !important;
  top: 102px;
  left: 251px;
  z-index: 10;
}

body{
  margin: 0;
}

#vehicle-selector {
  z-index: 10;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

select{
  padding: 10px;
  background-color: white;
  width: 300px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#logo-div{
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 10px;
}

.hide-modal{
  display: none !important;
}

#btncolor{
  background-color: black;
  color: rgb(252, 248, 2);
  font-family: "Sarpanch", sans-serif;
}

.text-center{
  background-color: black;
  color: rgb(252, 248, 2);
  font-size: 20px;
  font-family: "Sarpanch", sans-serif;
}

.modal-body{
  font-family: "Sarpanch", sans-serif;
  color: rgb(252, 248, 2);
}
